<div>
  <a class="hiddenanchor" id="signup"></a>
  <a class="hiddenanchor" id="signin"></a>

  <div class="login_wrapper">
    <div class="animate form login_form">
      <section class="login_content">
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <form>
          <h1>Login</h1>
          <div>
            <%= f.email_field :email, autofocus: true, autocomplete: "email",
            class:"form-control", placeholder:"Email" %>
          </div>
          <div>
            <%= f.password_field :password, placeholder:"Password",
            class:"form-control",autocomplete: "current-password" %>
          </div>
          <div>
            <%= f.submit "Log in", class:"btn btn-default submit" %>
            <%= render "users/shared/links" %>
          </div>
         
          <div class="clearfix"></div>

           <div class="separator"> </div>
        </form>
        <% end %>
      </section>
    </div>
  </div>
</div>