<a class="hiddenanchor" id="signin"></a>

<div class="login_wrapper">
  <div class="animate form login_form">
    <section class="login_content">
    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
      <%= devise_error_messages! %>
      <%= f.hidden_field :reset_password_token %>

      <form>
        <h1>Change your password</h1>

        <div class="field">
          <%= f.label :password, "New password" %><br />
          <% if @minimum_password_length %>
            <p>(<%= @minimum_password_length %> characters minimum)</p><br />
          <% end %>
          <%= f.password_field :password, autofocus: true, autocomplete: "new-password" %>
        </div>

        <div class="field">
          <%= f.label :password_confirmation, "Confirm new password" %><br />
          <%= f.password_field :password_confirmation, autocomplete: "off" %>
        </div>

        <div class="actions"  >
          <%= f.submit "Change my password", class:"btn btn-default submit"%>
        </div>
        
        <div class="clearfix"></div>

          <div class="separator"> <%= render "users/shared/links" %> </div>
      </form>
      <% end %>
    </section>
  </div>
</div>
</div>
