<div class="login_wrapper">
  <div class="animate form login_form">
    <section class="login_content">
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= devise_error_messages! %>
        <h1>Cadastre-se</h1>
        <div>
          <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder:"E-mail...",class:"form-control" %>
        </div>
        <div>
          <%= f.password_field :password, autocomplete: "new-password", placeholder:"Senha...",class:"form-control" %>
        </div>
        <div>
          <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder:"Confirme a Senha...",class:"form-control" %>
        </div>
        <div>
        <%= f.submit "Entrar", class:"btn btn-default submit", style:"float: none;
        margin-left: 0px; width: 70%;" %>
        </div>
      <% end %>
    </section>
    <div class="separator">
      <p class="change_link">Já possuí conta?
      <%= link_to 'Faça Login', new_user_session_path, class:"to_register" %>
      </p>

      <div class="clearfix"></div>
    </div>
  <div>
</div>